/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.infinite-scroll-component {
	overflow: initial !important;
}

.postcont {
	scroll-margin-top: 100px;
}

.notifications::-webkit-scrollbar {
	width: 5px;
}
.notifications::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}
.notifications::-webkit-scrollbar-thumb {
	background: #a1a1a1;
	margin: 5px;
	border-radius: 20px;
}
.notifications::-webkit-scrollbar-thumb:hover {
	background: rgb(104, 104, 104);
}
